body {
    background: black;
}
.grey {
    background: black;
    height: 2000px;
    margin-top: 600px;
    margin-bottom: 600px;
}

.sticky {
    position: sticky;
    top:100px;
    float: right;
}

.left-text {
    float: left;
    color: white;
    padding: 10px;
}
